---
import '@/styles/normalize.css'
import Aside from '@/components/recorder/Aside.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
        <aside>
            <Aside />
        </aside>

		<main>
            <slot />
        </main>
        
        <footer></footer>
	</body>
</html>

<style>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
    }

    body {
        min-height: 100dvh;
        display: grid;
        grid-template-areas:
        "aside main"
        "footer footer";
        grid-template-columns: 375px 1fr;
        grid-template-rows: 1fr auto;

        aside {
            grid-area: aside;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }
    }
</style>
